
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
      <array>
                <dict>
          <key>phrase</key>
          <string>©</string>
          <key>shortcut</key>
          <string>(c)</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>®</string>
          <key>shortcut</key>
          <string>(r)</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>℗</string>
          <key>shortcut</key>
          <string>(p)</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>™</string>
          <key>shortcut</key>
          <string>TM</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>℅</string>
          <key>shortcut</key>
          <string>c/o</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>…</string>
          <key>shortcut</key>
          <string>...</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>½</string>
          <key>shortcut</key>
          <string>1/2</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>⅓</string>
          <key>shortcut</key>
          <string>1/3</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>⅔</string>
          <key>shortcut</key>
          <string>2/3</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>¼</string>
          <key>shortcut</key>
          <string>1/4</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>¾</string>
          <key>shortcut</key>
          <string>3/4</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>⅛</string>
          <key>shortcut</key>
          <string>1/8</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>⅜</string>
          <key>shortcut</key>
          <string>3/8</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>⅝</string>
          <key>shortcut</key>
          <string>5/8</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>⅞</string>
          <key>shortcut</key>
          <string>7/8</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>/nowplaying</string>
          <key>shortcut</key>
          <string>npl</string>
        </dict>
            </array>
    </plist>
  