
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
      <array>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>amma</string>
            <key>with</key>
            <string>அம்மா</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>enge</string>
            <key>with</key>
            <string>எங்கே</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>enna</string>
            <key>with</key>
            <string>என்ன</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>eppidi</string>
            <key>with</key>
            <string>எப்பிடி</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>eppo</string>
            <key>with</key>
            <string>எப்போ</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>iniki</string>
            <key>with</key>
            <string>இநீகீ</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>ippo</string>
            <key>with</key>
            <string>இப்போ</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>irruken</string>
            <key>with</key>
            <string>இர்ருகென்</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>irrukingala</string>
            <key>with</key>
            <string>இர்ருகிங்கிளா</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>irrukinge</string>
            <key>with</key>
            <string>இரருகிங்கே</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>irrukingila</string>
            <key>with</key>
            <string>இர்ருகிங்கிளா</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>irrukire</string>
            <key>with</key>
            <string>இர்ருகிரெ</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>irruku</string>
            <key>with</key>
            <string>இர்ருகு</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>iruken</string>
            <key>with</key>
            <string>இர்ருகென்</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>irukken</string>
            <key>with</key>
            <string>இருக்கேன்</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>iruku</string>
            <key>with</key>
            <string>இர்ருகு</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>naan</string>
            <key>with</key>
            <string>நான்</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>naanga</string>
            <key>with</key>
            <string>நாங்க</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>naliki</string>
            <key>with</key>
            <string>நாழிக்கி</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>nee</string>
            <key>with</key>
            <string>நீ</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>neenga</string>
            <key>with</key>
            <string>நீங்க</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>neenge</string>
            <key>with</key>
            <string>நீன்கே</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>nethiki</string>
            <key>with</key>
            <string>நேதிகி</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>panindu</string>
            <key>with</key>
            <string>பண்ணிண்டு</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>pannindu</string>
            <key>with</key>
            <string>பண்ணிண்டு</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>panriya</string>
            <key>with</key>
            <string>பண்ணரியா</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>poringe</string>
            <key>with</key>
            <string>போரிங்கே</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>varinge</string>
            <key>with</key>
            <string>வறிங்கே</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>varuvange</string>
            <key>with</key>
            <string>வருவங்கே</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>veetile</string>
            <key>with</key>
            <string>வீட்டிலே</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>veetle</string>
            <key>with</key>
            <string>வீட்டிலே</string>
          </dict>
              </array>
    </plist>
  