
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
      <array>
                <dict>
          <key>phrase</key>
          <string>அம்மா</string>
          <key>shortcut</key>
          <string>amma</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>எங்கே</string>
          <key>shortcut</key>
          <string>enge</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>என்ன</string>
          <key>shortcut</key>
          <string>enna</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>எப்பிடி</string>
          <key>shortcut</key>
          <string>eppidi</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>எப்போ</string>
          <key>shortcut</key>
          <string>eppo</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இநீகீ</string>
          <key>shortcut</key>
          <string>iniki</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இப்போ</string>
          <key>shortcut</key>
          <string>ippo</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இர்ருகென்</string>
          <key>shortcut</key>
          <string>irruken</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இர்ருகிங்கிளா</string>
          <key>shortcut</key>
          <string>irrukingala</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இரருகிங்கே</string>
          <key>shortcut</key>
          <string>irrukinge</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இர்ருகிங்கிளா</string>
          <key>shortcut</key>
          <string>irrukingila</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இர்ருகிரெ</string>
          <key>shortcut</key>
          <string>irrukire</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இர்ருகு</string>
          <key>shortcut</key>
          <string>irruku</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இர்ருகென்</string>
          <key>shortcut</key>
          <string>iruken</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இருக்கேன்</string>
          <key>shortcut</key>
          <string>irukken</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>இர்ருகு</string>
          <key>shortcut</key>
          <string>iruku</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>நான்</string>
          <key>shortcut</key>
          <string>naan</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>நாங்க</string>
          <key>shortcut</key>
          <string>naanga</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>நாழிக்கி</string>
          <key>shortcut</key>
          <string>naliki</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>நீ</string>
          <key>shortcut</key>
          <string>nee</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>நீங்க</string>
          <key>shortcut</key>
          <string>neenga</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>நீன்கே</string>
          <key>shortcut</key>
          <string>neenge</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>நேதிகி</string>
          <key>shortcut</key>
          <string>nethiki</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>பண்ணிண்டு</string>
          <key>shortcut</key>
          <string>panindu</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>பண்ணிண்டு</string>
          <key>shortcut</key>
          <string>pannindu</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>பண்ணரியா</string>
          <key>shortcut</key>
          <string>panriya</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>போரிங்கே</string>
          <key>shortcut</key>
          <string>poringe</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>வறிங்கே</string>
          <key>shortcut</key>
          <string>varinge</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>வருவங்கே</string>
          <key>shortcut</key>
          <string>varuvange</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>வீட்டிலே</string>
          <key>shortcut</key>
          <string>veetile</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>வீட்டிலே</string>
          <key>shortcut</key>
          <string>veetle</string>
        </dict>
            </array>
    </plist>
  