
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
      <array>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>ela</string>
            <key>with</key>
            <string>ఎలా</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>endaro</string>
            <key>with</key>
            <string>ఎందరో</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>chesava</string>
            <key>with</key>
            <string>చేసావా</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>chestanu</string>
            <key>with</key>
            <string>చేస్తాను</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>chestunanu</string>
            <key>with</key>
            <string>చేస్తున్నాను</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>mahanubhavulu</string>
            <key>with</key>
            <string>మహానుభావులు</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>naku</string>
            <key>with</key>
            <string>నాకు</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>nenu</string>
            <key>with</key>
            <string>నేను</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>neeku</string>
            <key>with</key>
            <string>నీకు</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>nuvvu</string>
            <key>with</key>
            <string>నువ్వు</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>undi</string>
            <key>with</key>
            <string>ఉంది</string>
          </dict>
              </array>
    </plist>
  