
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
      <array>
                <dict>
          <key>phrase</key>
          <string>ఎలా</string>
          <key>shortcut</key>
          <string>ela</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>ఎందరో</string>
          <key>shortcut</key>
          <string>endaro</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>చేసావా</string>
          <key>shortcut</key>
          <string>chesava</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>చేస్తాను</string>
          <key>shortcut</key>
          <string>chestanu</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>చేస్తున్నాను</string>
          <key>shortcut</key>
          <string>chestunanu</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>మహానుభావులు</string>
          <key>shortcut</key>
          <string>mahanubhavulu</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>నాకు</string>
          <key>shortcut</key>
          <string>naku</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>నేను</string>
          <key>shortcut</key>
          <string>nenu</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>నీకు</string>
          <key>shortcut</key>
          <string>neeku</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>నువ్వు</string>
          <key>shortcut</key>
          <string>nuvvu</string>
        </dict>
              <dict>
          <key>phrase</key>
          <string>ఉంది</string>
          <key>shortcut</key>
          <string>undi</string>
        </dict>
            </array>
    </plist>
  