
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
      <array>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>bccd</string>
            <key>with</key>
            <string>Thanks for the intro. (moving to bcc to spare your inbox)</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>bowo</string>
            <key>with</key>
            <string>After much research and discussion, we have decided to bow out of this round.</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>cyp</string>
            <key>with</key>
            <string>could you please </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>emt</string>
            <key>with</key>
            <string>Great to e-meet you! </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>hlp</string>
            <key>with</key>
            <string>If in the meanwhile I can be helpful in any other way as you build this business, please don&#39;t hesitate to ping me.</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>ifup</string>
            <key>with</key>
            <string>If you are up for it, </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>lf</string>
            <key>with</key>
            <string>Looking forward to it! </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>nxtr</string>
            <key>with</key>
            <string>Happy to chat on the phone if you would like.. I am sure you will prove my research and conclusions wrong and I am hoping you will still let us see the next round :)</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>sg</string>
            <key>with</key>
            <string>sounds good</string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>shlp</string>
            <key>with</key>
            <string>Sylvie, could you please help setup? Thanks..  </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>sila</string>
            <key>with</key>
            <string>Sylvie can work with you to help us find a time that works for everyone. </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>silb</string>
            <key>with</key>
            <string>Sylvie on my side can help us find a time that works for everyone. </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>silc</string>
            <key>with</key>
            <string>Sylvie (copied) can help us find a time that works for everyone. </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>wla</string>
            <key>with</key>
            <string>Would love to learn more about what you all are up to! </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>wll</string>
            <key>with</key>
            <string>Would love to learn more. </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>wlt</string>
            <key>with</key>
            <string>Would love to </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>wlu</string>
            <key>with</key>
            <string>Would love to learn more about you are up to! </string>
          </dict>
                <dict>
            <key>on</key>
            <integer>1</integer>
            <key>replace</key>
            <string>twobcc</string>
            <key>with</key>
            <string>I will let the two of you take it from here. Please feel free to move me to</string>
          </dict>
              </array>
    </plist>
  